/* 
 * Styles for vocabulary program. 
 * 
 * This may be used in combination with 
 * Twitter Bootstrap style sheets, which 
 * provide responsive design for mobile
 * devices, so we don't want to mess up 
 * layout and text sizes here.  Use this
 * style sheet mainly for minor attributes 
 * like text color, italics, etc. 
 */


body {
	background: #EEE; 
	color: #444;
	font: normal 120% "Lucida Sans Unicode",sans-serif;
	margin: 0;
}
p.highlight{
	background-color: rgb(255, 255,0);
}

.message { 
    color: red;
}